<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sensetime.senseguard.entiydemo.mapper.RoleInfoMapper">
  <resultMap id="BaseResultMap" type="com.sensetime.senseguard.entiydemo.entity.RoleInfo">
    <id column="role_id" jdbcType="BIGINT" property="roleId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="state" jdbcType="SMALLINT" property="state" />
    <result column="default_role" jdbcType="SMALLINT" property="defaultRole" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="create_by" jdbcType="BIGINT" property="createBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_by" jdbcType="BIGINT" property="updateBy" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    role_id, name, code, state, default_role, remark, create_by, create_time, update_by, 
    update_time
  </sql>
  <sql id="Base_Column">
    ir.role_id, name, code, state, default_role, remark, create_by, create_time, update_by,
    update_time
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from info_role
    where role_id = #{roleId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from info_role
    where role_id = #{roleId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.sensetime.senseguard.entiydemo.entity.RoleInfo">
    insert into info_role (role_id, name, code, 
      state, default_role, remark, 
      create_by, create_time, update_by, 
      update_time)
    values (#{roleId,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, 
      #{state,jdbcType=SMALLINT}, #{defaultRole,jdbcType=SMALLINT}, #{remark,jdbcType=VARCHAR}, 
      #{createBy,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=BIGINT}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.sensetime.senseguard.entiydemo.entity.RoleInfo">
    update info_role
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=SMALLINT},
      </if>
      <if test="defaultRole != null">
        default_role = #{defaultRole,jdbcType=SMALLINT},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where role_id = #{roleId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sensetime.senseguard.entiydemo.entity.RoleInfo">
    update info_role
    set name = #{name,jdbcType=VARCHAR},
      code = #{code,jdbcType=VARCHAR},
      state = #{state,jdbcType=SMALLINT},
      default_role = #{defaultRole,jdbcType=SMALLINT},
      remark = #{remark,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where role_id = #{roleId,jdbcType=BIGINT}
  </update>

  <select id="listEnableRoleInfoById" resultMap="BaseResultMap" >
		SELECT
		<include refid="Base_Column"/>
		FROM info_role ir INNER JOIN info_r_user_role iur on ir.role_id = iur.role_id
		WHERE ir.state = 1 and iur.user_id = #{userId}
	</select>


  <resultMap id="userRoleId" type="com.sensetime.senseguard.entiydemo.entity.UserRoleInfo">

    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="role_id" jdbcType="BIGINT" property="roleId" />

  </resultMap>
  <sql id="userRoleSql">
		SELECT
		user_id,
		role_id
		FROM info_r_user_role
	</sql>
  <select id="queryUserRoleInfoById" resultMap="userRoleId" >
    <include refid="userRoleSql" />
    WHERE user_id = #{userId}
  </select>

</mapper>